<ul class="post-list">
    {{#each posts as |post|}}
    <li>
        {{> post-info post }}
    </li>
    {{/each}}
</ul>

<button type="submit">Comment</button>
<button type="submit">Contact</button>
<button type="submit">Report</button>
